In [1]:
import pandas as pd

In [3]:
dataset =  pd.read_csv("HousingData.csv")

In [5]:
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [11]:
input_data = dataset.iloc[:,:-1]
output_data = dataset["MEDV"]

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [19]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
279,0.21038,20.0,3.33,0.0,0.4429,6.812,32.2,4.1007,5,216,14.9,396.90,4.85
249,0.19073,22.0,5.86,0.0,0.4310,6.718,17.5,7.8265,7,330,19.1,393.74,6.56
214,0.28955,0.0,10.59,0.0,0.4890,5.412,9.8,3.5875,4,277,18.6,348.93,29.55
436,14.42080,0.0,18.10,0.0,0.7400,6.461,93.3,2.0026,24,666,20.2,27.49,18.05
44,0.12269,0.0,6.91,0.0,0.4480,6.069,40.0,5.7209,3,233,17.9,389.39,9.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2.92400,0.0,19.58,0.0,0.6050,6.101,93.0,2.2834,5,403,14.7,240.16,9.81
457,8.20058,0.0,18.10,0.0,0.7130,5.936,80.3,2.7792,24,666,20.2,3.50,16.94
124,0.09849,0.0,25.65,0.0,0.5810,5.879,95.8,2.0063,2,188,19.1,379.38,17.58
281,0.03705,20.0,3.33,0.0,0.4429,6.968,NaN,5.2447,5,216,14.9,392.23,4.59
98,0.08187,0.0,2.89,0.0,0.4450,7.820,36.9,3.4952,2,276,18.0,393.53,3.57

In [21]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
483,2.81838,0.0,18.10,0.0,0.532,5.762,40.3,4.0983,24,666,20.2,392.92,10.42
31,1.35472,0.0,8.14,0.0,0.538,6.072,100.0,4.1750,4,307,21.0,376.73,13.04
113,0.22212,0.0,10.01,0.0,0.547,6.092,95.4,2.5480,6,432,17.8,396.90,17.09
148,2.33099,0.0,NaN,0.0,0.871,5.186,93.8,1.5296,5,403,14.7,356.99,28.32
118,0.13058,NaN,10.01,0.0,0.547,5.872,73.1,2.4775,6,432,17.8,338.63,15.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,0.03615,80.0,NaN,0.0,0.411,6.630,23.4,5.1167,4,245,19.2,396.90,4.70
344,0.03049,55.0,NaN,0.0,0.484,6.874,28.1,6.4654,5,370,17.6,387.97,4.61
106,0.17120,0.0,8.56,0.0,0.520,5.836,91.9,2.2110,5,384,20.9,395.67,18.66
431,10.06230,0.0,18.10,0.0,0.584,6.833,94.3,2.0882,24,666,20.2,81.33,19.69
450,6.71772,0.0,18.10,NaN,0.713,6.749,92.6,2.3236,24,666,20.2,0.32,17.44

In [23]:
y_train

279    35.1
249    26.2
214    23.7
436     9.6
44     21.2
       ...
165    25.0
457    13.5
124    18.8
281    35.4
98     43.8
Name: MEDV, Length: 379, dtype: float64

In [25]:
y_test

483    21.8
31     14.5
113    18.7
148    17.8
118    20.4
       ...
292    27.9
344    31.2
106    19.5
431    14.1
450    13.4
Name: MEDV, Length: 127, dtype: float64

In [27]:
dataset.shape

(506, 14)

In [29]:
x_train.shape

(379, 13)

In [31]:
x_test.shape

(127, 13)

In [33]:
y_train.shape

(379,)

In [35]:
y_test.shape

(127,)